#success-org-logos {
    width: 420px;
    position: absolute;
    bottom: 25px;
    right: calc(50vw - 210px);
}

@media screen and (max-height: 800px) {
    #success-org-logos {
        bottom: 0;
    }
}