.instruction-cell {
    float: left;
    text-align: center;
    width: 170px;
    margin: 35px;
    font-size: 0.9rem;
}

.instruction-img {
    height: 85px;
    width: 85px;
    background-size: cover;
}

.instruction-text {
    color: var(--theme-grey);
}