@font-face {
    font-family: montserrat;
    src: url(../../assets/fonts/Montserrat-Bold.ttf)
}

@font-face {
    font-family: opensans;
    src: url(../../assets/fonts/OpenSans-Regular.ttf)
}

* {
    margin: 0px;
    padding: 0px;
    font-family: opensans;
}

body {
    width: 100%;
    height: 75%;
    background-color: white;
}

#header-container {
    width: 75%;
    height: 10%;
    background: #36A472;

    display: flex;
    flex-direction: row;
    align-items: center;

    top: 0;
    position: fixed;

    padding: 0px 10% 0px 15%;
}

#header-ballot {
    width: 40px;
    height: 40px;
}

a {
    color: #C0C0C0;
    font-weight: 500;
    text-decoration: none;
    margin-left: 60px;
    cursor: pointer;
}

a:hover {
    color: white;
}

#selected {
    color: white;
}

/*
#user-container .dropbtn {
	font-size: 16px;
	border: 1px solid white;
	border: none;
	outline: none;
	color: rgb(250, 235, 215);
	padding: 14px 16px;
	background-color: inherit;
	font-weight: bold;
	display: flex;
	flex-direction: row;
}*/

.user-container-content {
    width: 100px;
    height: 300px;
    display: none;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 590px;
    background: rgb(28, 30, 34);
    min-width: 185px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#user-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: auto;
    margin-right: 10px;

}

#user-container:hover .user-container-content {
    display: block;
    z-index: 10;

}

#log-out {
    color: #fff;
}

#log-out:hover {
    border-bottom: 1px solid white;
}

#user-icon {
    width: 30px;
    height: 30px;
    margin-left: 100px;
}

#user-name {
    color: #fff;
    margin-left: 20px;
    font-weight: 600;
}

#tab-buttons-container {
    margin: 10% 15% 10px 15%;

    border-bottom: 1px solid black;
    display: flex;
}

.tab-buttons {
    width: 200px;
    color: #808080;
    font-size: 16px;
    text-align: center;

    border: none;
    background-color: inherit;

    margin-left: 20px;

    outline: none;
    cursor: pointer;

}

.tab-buttons:after {
    content: '';
    display: block;
    margin-top: 11px;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .3s ease, background-color .3s ease;
}

.tab-buttons:hover:after {
    width: 100%;
    background: #36A472;
}

.tab-buttons.active {
    color: #36A472;
    font-weight: bold;
    border-bottom: 2px solid #36A472;
}

#tab-search {
    width: 250px;
    margin-left: auto;
    margin-right: 2%;
}

#search {
    width: 60%;
    outline: none;
    border: none;

    font-size: 16px;

    transition: width 0.2s ease-in-out;
}

#search:focus {
    width: 100%;
    border-bottom: 1px solid #36A472;
}

/*
#deselect-delete{
	width: 300px;
	margin: 0 1% 14px auto;

	display: none;
	flex-direction: row;
}
#deselect{
	font-size: 14px;
	color: #808080;
	border: none;
	background-color: inherit;
	margin-right: 20px;

}*/
#delete {
    font-size: 14px;
    color: red;
    border: none;
    background-color: inherit;

    width: 250px;
    margin: 0 2% 14px auto;
    display: none;
}

#tab-container {
    width: 70%;
    height: 500px;
    min-height: 400px;
    margin: 0px 15% 0px 15%;
}

.tab-content {
    width: 100%;
    height: 100%;
}

#table-container {
    width: 100%;
    height: 400px;
    min-height: 400px;

    display: flex;
    flex-direction: column;

    margin-top: 30px;

}

.table-row {
    height: 40px;
    display: flex;
    flex-direction: row;

    padding-top: 10px;

}

.row-0 {
    font-weight: bold;
    background: white;
}

.row-1 {
    background: #EEEEEE;
}

.row-2 {
    background: white;
}

.col-checkbox {
    flex-basis: 10%;
}

.name:after {
    content: '';
    display: block;
    margin-top: 10px;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .1s ease, background-color .1s ease;
}

.name:hover:after {
    width: 100%;
    background: #36A472;
}

.name:hover {
    cursor: pointer;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #36A472;

    margin-left: 40px;

    cursor: pointer;
    outline: none;
    transition: background-color .1s ease-out;
}

input[type='checkbox']:checked {
    background: #36A472;
}

.info-container {
    width: 40%;
    height: 75px;
    display: flex;
    flex-direction: column;

    margin: 50px 0px 10px 0px;
}

.info-fields-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}

.info-label {
    width: 60%;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #36A472;
    margin-bottom: 10px;
}

.issue-container {
    width: 100%;
    height: 25%;
    display: flex;
}

.takes-container {
    width: 100%;
    height: 40%;
    display: flex;
}

.info-input {
    width: 70%;
    height: 50px;
    font-size: 20px;

    border: none;
    border-bottom: 1px solid #36A472;

    outline: none;
}

select {
    cursor: pointer;
}

.info-buttons-container {
    width: 100%;
    height: 50px;
    text-align: right;

    margin-top: 50px;
    margin-right: 50px;
}

.takes-container {
    width: 100%;
    height: 40%;
    display: flex;
}

.response-container {
    width: 100%;
    height: 60%;
}

.response-textarea {
    min-width: 100%;
    min-height: 200px;
    font-size: 16px;
    color: #808080;
    resize: none;
    padding: 15px;
}

#error {
    color: red;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: 10px;
    line-height: 1.75rem;
}

#success {
    color: green;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: 10px;
    line-height: 1.75rem;
}

#save {
    width: 50px;
    height: 50px;
    background-color: #36A472;
    color: white;
    border-radius: 5px;
    transition: background-color .2s ease-out;
    font-size: 16px;
    border: none;
    outline: none;
}

#save:hover {
    cursor: pointer;
    background-color: #6BE772;
}

#status-input {
    width: 70%;
    height: 50px;
    font-size: 20px;

    border: none;
    background-color: transparent;
    border-bottom: 1px solid #36A472;

    outline: none;
}

.button {
    width: 200px;
    height: 50px;
    font-size: 16px;
    border: none;
    outline: none;
}

.button:hover {
    cursor: pointer;
}

.cancel {
    background-color: white;
    color: #36A472;
    border: 1px solid #36A472;
    border-radius: 5px;
}

.confirm {
    background-color: #36A472;
    color: white;
    border-radius: 5px;
    transition: background-color .2s ease-out;
}

.confirm:hover {
    background-color: #6BE772;
}

.confirm-negative {
    background-color: #ee4245;
    color: white;
    border-radius: 5px;
    transition: background-color .2s ease-out;
}

.confirm-negative:hover {
    background-color: #e79340;
}

#logo {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 30px;
}

