@import url(https://fonts.googleapis.com/css?family=Roboto:500);

#modal-read {
    position: absolute;
    top: 25%;
    left: 25%;
    right: 0;
    bottom: 0;
    background: #36A472;
    width: 50%;
    height: 50%;
    clip-path: polygon(calc(50% - 0em) calc(50% - 0em), calc(50% + 0em) calc(50% - 0em), calc(50% + 0em) calc(50% + 0em), calc(50% - 0em) calc( 50% + 0em));
    transition: clip-path 0.4s cubic-bezier(0, 0.58, 0.36, 1), -webkit-clip-path 0.4s cubic-bezier(0, 0.58, 0.36, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal__content-read {
    opacity: 0;
    -webkit-transform: translate3D(0, -1em, 0);
    transform: translate3D(0, -1em, 0);
    transition: opacity 0.1s 0s, -webkit-transform 0.3s 0s;
    transition: opacity 0.1s 0s, transform 0.3s 0s;
    transition: opacity 0.1s 0s, transform 0.3s 0s, -webkit-transform 0.3s 0s;
    padding: 2em;
    max-width: 30em;
    color: #fff;
}

.button-read:focus~#modal-read {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.button-read:focus~#modal-read #modal__content-read {
    opacity: 1;
    -webkit-transform: translate3D(0, 1em, 0);
    transform: translate3D(0, 1em, 0);
    transition: opacity 0.3s 0.2s, -webkit-transform 0.6s 0.2s cubic-bezier(0, 0.65, 0.06, 0.98);
    transition: opacity 0.3s 0.2s, transform 0.6s 0.2s cubic-bezier(0, 0.65, 0.06, 0.98);
    transition: opacity 0.3s 0.2s, transform 0.6s 0.2s cubic-bezier(0, 0.65, 0.06, 0.98), -webkit-transform 0.6s 0.2s cubic-bezier(0, 0.65, 0.06, 0.98);
}

.button-read:after {
    background-color: var(--theme-green);
    content: "";
    height: 1px;
    left: 0px;
    position: absolute;
    top: 17px;
    width: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.button-read-:hover:after {
    width: 100%;
}

blockquote {
    font-family: Georgia, serif;
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}

blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}

blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
    float: right;
    font-size: 6em;
    line-height: 1;
    right: 0;
    bottom: -0.5em;
    content: "\201D";
}

blockquote footer {
    padding: 0 2em 0 0;
    text-align: right;
}

blockquote cite:before {
    content: "\2013";
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}