#vote-modal {
	display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

#vote-summary {
	background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.candidate-row {
    margin-left: 10px;
    margin-right: 10px; 
    margin-top: 10px;
    margin-bottom: 20px;
}

.candidate-person {
    text-align: left;
}

#summary-confirm {
    padding-top: 10px;
    padding-bottom: 5px;
}

#cancel, 
#confirm {
    background: none;
    box-shadow: none;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    float: right;
    margin-left: 10px;
}

#cancel:hover,
#confirm:hover {
    filter: brightness(110%);
}

#cancel {
    border: 1px solid #D7D7D7;
    color: #D7D7D7;
}

#confirm {
    border: 0;
    background-color: var(--theme-green);
    color: white;
}
