{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800" rel="stylesheet">

    <link href="{% static 'passcode/css/elements/body.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'passcode/css/elements/root.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'passcode/css/elements/link.css' %}" rel="stylesheet" type="text/css"/>

    <!-- ACCESSED THE CSS IN SYSADMIN -->
    <link rel="stylesheet" type="text/css" href="{% static 'passcode/css/components/officer.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'passcode/css/components/officer-candidate.css' %}"/>
    <!-- <link rel="stylesheet" type="text/css" href="../../static/sysadmin/css/components/officer.css" />
    <link rel="stylesheet" type="text/css" href="../../static/sysadmin/css/components/officer-candidate.css" /> -->

    <link rel="stylesheet" href="{% static 'passcode/css/components/password_generator.css' %}">
    <link rel="stylesheet" href="{% static 'passcode/css/components/password_generator-logos.css' %}">
</head>
<body>

<div id="header-container">
    <img id="header-ballot" src="{% static 'passcode/assets/svg/ballot-white.svg' %}">
    <a href="{% url 'passcode:voters' %}">Voters List</a>
    <a href="{% url 'passcode:candidates' %}">Candidates List</a>
    <a href="{% url 'passcode:results' %}">Voting Results</a>
    <a href="{% url 'passcode:passcode' %}" id="selected">Passcode generator</a>
    <div id="user-container">
        <img id="user-icon" src="{% static 'passcode/assets/svg/user.svg' %}">
        <div id="user-name"> Troy Bolton</div>
        <a id="log-out">Log out</a>
    </div>
    <!--
			<div id="user-container">
				<button class="dropbtn">
					
				</button>
				<div id="user-container-content">
					<div> Profile</div>
					<div> Log out </div>

				</div>
			</div> -->

</div>

<div id="pass-container" class="center container">
    <form method="POST" action="">
        {% csrf_token %}
        <label id="pass-title" for="pass-gen">PASSCODE GENERATOR</label><br><br>
        <input type="text" name="id-number" id="pass-gen">
        <input type="submit" hidden="hidden">
    </form>

    <div id="result">
        {% if message == 'dne' %}
            <b>Oops!</b> There is no passcode for that.
        {% elif message == 'ai' %}
            <b>Oops!</b> That user is currently voting.
        {% elif message == 'ir' %}
            <b>Oops!</b> You've just made an invalid request.
        {% elif message != '' %}
            Your passcode: <b>{{ message }}</b>
        {% endif %}
    </div>

    <footer>
        <div id="org-logos-container">
            <img id="org_logos" src="{% static 'passcode/assets/png/org-logos-white.png' %}">
        </div>
    </footer>

</div>
</body>
</html>