{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800" rel="stylesheet">

    <link href="{% static 'passcode/css/elements/body.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'passcode/css/elements/root.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'passcode/css/elements/link.css' %}" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="{% static 'passcode/css/components/password_generator.css' %}">
    <link rel="stylesheet" href="{% static 'passcode/css/components/password_generator-logos.css' %}">
</head>
<body>

<img id="uxtoc_img" src="{% static 'passcode/assets/png/uxsoc-logo.png' %}">

<div id="pass-container" class="center container">
    <form method="POST" action="">
        {% csrf_token %}
        <label id="pass-title" for="pass-gen">PASSCODE GENERATOR</label><br><br>
        <input type="text" name="id-number" id="pass-gen">
        <input type="submit" hidden="hidden">
    </form>

    <div id="result">
        {% if message == 'dne' %}
            <b>Oops!</b> There is no passcode for that.
        {% elif message == 'ai' %}
            <b>Oops!</b> That user is currently voting.
        {% elif message == 'ir' %}
            <b>Oops!</b> You've just made an invalid request.
        {% elif message != '' %}
            Your passcode: <b>{{ message }}</b>
        {% endif %}
    </div>

    <footer>
        <div id="org-logos-container">
            <img id="org_logos" src="{% static 'passcode/assets/png/org-logos-white.png' %}">
        </div>
    </footer>

</div>
</body>
</html>