body{
    background-color: #36A472;
}

.center {
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translateX(-50%) translateY(-50%);
}

#pass-container{
    font-family: 'Open Sans', sans-serif;
}

#pass-title{
    font-weight: bold;
    font-size: 14px;
    color: white;
}

#pass-gen{
    width: 500px;
    font-size: 20px;
    padding: 20px;
    background-color: #36A472;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}

#result{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: white;
    margin-top: 10px;
    margin-bottom: 200px;
}

#uxtoc_img{
    max-width:7%;
    max-height:7%;
    margin: 15px;
    position: absolute;
    right:0;
    top:0;
}

#org_logos{
    max-width:90%;
    max-height:90%;

}


text:focus, input:focus{
    outline: none;
}


