#org-logos {
    width: 437px;
    margin: 10px;
    position: absolute;
    bottom: 0;
}

#uxsoc-logo {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    margin: 10px;
}

#lscs-logo {
    position: absolute;
    right: 75;
    top: 0;
    height: 50px;
    margin: 10px;
}