body {
    position: relative;
    overflow-y: hidden;
}

body::before,
body::after {
    content: '';
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}

body::before {
    width: 250px;
    height: 75%;
    background: var(--theme-lighter-green);
    transform-origin: top left;
    -ms-transform: skew(-3deg, 0deg);
    -webkit-transform: skew(-3deg, 0deg);
    transform: skew(-3deg, 0deg);
}

body::after {
    top: 0;
    width: 300px;
    background: var(--theme-green);
    transform-origin: top left;
    -ms-transform: skew(8deg, 0deg);
    -webkit-transform: skew(8deg, 0deg);
    transform: skew(8deg, 0deg);
}

#title {
    background-image: url(../../assets/svg/ballot.svg);
    background-repeat: no-repeat;
    background-size: contain;

    color: var(--theme-green);
    text-transform: uppercase;
    padding-left: 115px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 2.1rem;
    margin: 10px;

    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

#error {
    color: red;
    font-size: 0.7rem;
    font-weight: 700;
    margin-left: 10px;
    line-height: 1.75rem;
}

#login-label {
    color: #36A472;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 50px;
    line-height: 1.75rem;
    
    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

#landing-container {
    width: calc(100vw - 300px);
    text-align: center;
    min-height: 100vh;
}

#landing-child {
    display: inline-block;
    text-align: left;
    min-height: 60vh;
    margin-top: 20vh;
    position: relative;
}

@media screen and (max-height: 800px){
    body {
        height: 100vh;
        overflow-y: hidden;
    }

    #landing-child {
        height: 60%;
        margin-top: 15vh;
        min-height: 480px;
    }
}

@media screen and (max-width: 400px){
    #title {
        width: 250px;
        font-size: 1.8rem;
    }
}