{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>

    <!-- CSS LINKS -->
    <link rel="stylesheet" type="text/css" href="{% static 'sysadmin/css/components/admin.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'sysadmin/css/components/admin-candidate.css' %}"/>

</head>
<body onload="set_take('{{ csrf_token }}')">
<!-- HEADER BAR THING -->
<div id="header-container">
    <img id="header-ballot" src="{% static 'sysadmin/assets/svg/ballot-white.svg' %}">
    <a href="{% url 'sysadmin:voters' %}">Voters List</a>
    <a href="{% url 'sysadmin:candidates' %}" id="selected">Candidates List</a>
    <a href="{% url 'sysadmin:officers' %}">Comelec Officers</a>
    <a href="{% url 'sysadmin:unit' %}">Units</a>
    <div id="user-container">
        <img id="user-icon" src="{% static 'sysadmin/assets/svg/user.svg' %}">
        <div id="user-name"> {{ user.first_name }} {{ user.last_name }}</div>
        <a id="log-out" href="{% url 'logout:logout' %}">Logout</a>
    </div>
</div>

<!-- TABS BUTTONS TO TRAVERSE THE DIFF SECTIONS -->
<div id="tab-buttons-container">
    <button class="tab-buttons" onclick="openTab(event, 'All')" id="tab-all">See all candidates</button>
    <button class="tab-buttons" onclick="openTab(event, 'Add')" id="tab-add">Add a candidate</button>
    <button class="tab-buttons" onclick="openTab(event, 'Issue')" id="tab-add-issue">Add issue</button>
    <button class="tab-buttons" onclick="openTab(event, 'Edit')" id="tab-edit-take">Edit takes</button>

    <!-- SEARCH BAR AND DESELECT-DELETE TAKE UP THE SAME SPOT. THEY ARE ACTIVATED AND DEACTIVATED RESPECTIVELY-->
    <form action="" id="tab-search" method="GET">
        <input id="search" type="text" name="query" placeholder="Search a candidate...">
    </form>

    <!-- DESELECT-DELETE -->
    <!--<div id="deselect-delete">
        <button id="deselect">Deselect All</button>-->
    <form action="" id="delete-candidates" method="POST">
        {% csrf_token %}
        <input type="hidden" name="form-type" value="delete-candidate">
        <button type="button" onclick="delete_candidates()" id="delete">Delete Selected Candidate(s)</button>
    </form>
    <!--</div>-->
</div>

<!-- CONTAINER WHERE TABS WILL OCCUPY -->
<div id="tab-container">
    {% if messages %}
        <div>
            {% for message in messages %}
                <p {% if message.tags %}id="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div id="All" class="tab-content">
        <div id="table-container">
            <!-- FIRST ROW IS HEADER/TITLE ROW. -->
            <div class="table-row row-0">
                <div class="col-checkbox"><input type="checkbox" id="toggle-all" onclick="toggle(this)"></div>
                <div class="col-name">Full Name</div>
                <div class="col-id">ID Number</div>
                <div class="col-position">Position</div>
                <div class="col-party">Political Party</div>
                <div class="col-status">Has Voted</div>
            </div>

            <!-- TEMPLATES FOR DATA INSERTION. NOTE THAT THERE IS A "row-1" AND "row-2"  FOR THEIR ALTERNATING COLORS -->
            {% for candidate in candidates %}
                <div class="table-row {% cycle 'row-1' 'row-2' %}">
                    <div class="col-checkbox"><input type="checkbox" name="check" value="{{ candidate.id }}"
                                                     onclick="selected(this)"></div>
                    <div class="col-name">
                        {{ candidate.voter.user.last_name }}, {{ candidate.voter.user.first_name }}
                    </div>
                    <div class="col-id">{{ candidate.voter.user.username }}</div>
                    <div class="col-position">{{ candidate.position.base_position.name }} ({{ candidate.position.unit.name }})</div>
                    <div class="col-party">
                        {% if candidate.party %}
                            {{ candidate.party.name }}
                        {% else %}
                            Independent
                        {% endif %}
                    </div>
                    <div class="col-status">
                        {% if candidate.voter.voting_status == 1 %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if candidates.has_previous %}
                    <a href="?page=1{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&laquo; first</a>
                    <a href="?page={{ candidates.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">previous</a>
                {% endif %}
                <span class="current">Page {{ candidates.number }} of {{ candidates.paginator.num_pages }}.</span>
                {% if candidates.has_next %}
                    <a href="?page={{ candidates.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">next</a>
                    <a href="?page={{ candidates.paginator.num_pages }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

    <!-- SECOND TAB (FORM TAB)-->
    <form action="" id="Add" class="tab-content" method="POST">
        {% csrf_token %}
        <div class="info-fields-container">
            <input type="hidden" name="form-type" value="add-candidate">
            <div class="info-container">
                <div class="info-label"> Student</div>
                <input type="text" class="info-input" list="voters" name="cand-voter"
                       placeholder="Candidate" required="required">
                <datalist id="voters">
                    {% for voter in voters %}
                        <option value="{{ voter.user.username }}: {{ voter.user.last_name }}, {{ voter.user.first_name }}">
                    {% endfor %}
                </datalist>
            </div>

            <div class="info-container">
                <div class="info-label"> Position</div>
                <input type="text" class="info-input" list="positions" name="cand-position" placeholder="Position"
                       required="required">
                <datalist id="positions">
                    {% for position in positions %}
                        <option value="{{ position.unit.name }}: {{ position.base_position.name }}">
                    {% endfor %}
                </datalist>
            </div>

            <div class="info-container">
                <div class="info-label"> Party</div>
                <select class="info-input" name="cand-party" required="required">
                    <option>Independent</option>
                    {% for party in parties %}
                        <option>{{ party.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="info-buttons-container">
            <button class="button cancel">Cancel</button>
            <!-- SUBMIT BUTTON FOR THE TAB -->
            <input class="button confirm" type="submit" value="Add new candidate">
        </div>
    </form>

    <!-- THIRD TAB (FORM TAB)-->
    <form action="" id="Issue" class="tab-content" method="POST">
        <div class="issue-container">
            {% csrf_token %}
            <input type="hidden" name="form-type" value="add-issue">
            {% if issue_form %}
                {% for field in issue_form %}
                    <div class="info-container">
                        <div class="info-label">{{ field.label }}</div>
                        {{ field }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="info-buttons-container">
            <button class="button cancel">Cancel</button>
            <!-- SUBMIT BUTTON FOR THE TAB -->
            <input class="button confirm" type="submit" value="Save Changes">
        </div>
    </form>
    <!-- FOURTH TAB (FORM TAB)-->
    <form action="" id="Edit" class="tab-content" method="POST">
        {% csrf_token %}
        <input type="hidden" name="form-type" value="change-take">
        <div class="takes-container">
            <div class="info-container">
                <div class="info-label"> Select an issue</div>
                <select class="info-input" name="take-issue" id="issue-dropdown"
                        onchange="set_take('{{ csrf_token }}')">
                    {% for issue in issues %}
                        <option>{{ issue.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="info-container">
                <div class="info-label"> Select a candidate</div>
                <select class="info-input" name="take-candidate" id="candidate-dropdown"
                        onchange="set_take('{{ csrf_token }}')">

                    {% for candidate in candidates_all %}
                        <option>
                            {{ candidate.voter.user.username }}: {{ candidate.voter.user.last_name }}, {{ candidate.voter.user.first_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="response-container">
            <div class="info-label">Response to the Issue</div>
            <textarea name="take-response" form="Edit" id="take" class="response-textarea"></textarea>
        </div>

        <div class="info-buttons-container">
            {% if candidates_all %}
                <button class="button cancel">Cancel</button>
                <input class="button confirm-negative" name="action" type="submit" value="Delete this Take">
                <!-- SUBMIT BUTTON FOR THE TAB -->
                <input class="button confirm" name="action" type="submit" value="Save Changes">
            {% endif %}
        </div>
    </form>
</div>

<div id="logo">
    <img width=500 height=50 src="{% static 'sysadmin/assets/png/org-logos.png' %}">
</div>
</body>

<!-- JAVASCRIPT LINK-->
<script src="{% static 'sysadmin/js/admin.js' %}"></script>
</html>
