{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>

    <!-- CSS LINKS -->
    <link rel="stylesheet" type="text/css" href="{% static 'sysadmin/css/components/admin.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'sysadmin/css/components/admin-issue.css' %}"/>

</head>
<body>
<!-- HEADER BAR THING -->
<div id="header-container">
    <img id="header-ballot" src="{% static 'sysadmin/assets/svg/ballot-white.svg' %}">
    <a href="{% url 'sysadmin:voters' %}">Voters List</a>
    <a href="{% url 'sysadmin:candidates' %}">Candidates List</a>
    <a href="{% url 'sysadmin:officers' %}">Comelec Officers</a>
    <a href="{% url 'sysadmin:units' %}">Units</a>
    <a href="{% url 'sysadmin:positions' %}">Positions</a>
    <a href="{% url 'sysadmin:issues' %}" id="selected">Issues</a>
    <div id="user-container">
        <img id="user-icon" src="{% static 'sysadmin/assets/svg/user.svg' %}">
        <div id="user-name"> {{ user.first_name }} {{ user.last_name }}</div>
        <a id="log-out" href="{% url 'logout:logout' %}">Logout</a>
    </div>

</div>

<!-- TABS BUTTONS TO TRAVERSE THE DIFF SECTIONS -->
<div id="tab-buttons-container">
    <button class="tab-buttons" onclick="openTab(event, 'All')" id="tab-all">See all issues</button>
    <button class="tab-buttons" onclick="openTab(event, 'Add')" id="tab-add">Add an issue</button>

    <!-- SEARCH BAR AND DESELECT-DELETE TAKE UP THE SAME SPOT. THEY ARE ACTIVATED AND DEACTIVATED RESPECTIVELY-->
    <form action="" id="tab-search">
        <input id="search" type="text" name="query" placeholder="Search for an issue">
    </form>

    <!-- DESELECT-DELETE -->
    <!--<div id="deselect-delete">
        <button id="deselect">Deselect All</button>-->
    <form action="" id="delete-issues" method="POST">
        {% csrf_token %}
        <input type="hidden" name="form-type" value="delete-issue">
        <button type="button" onclick="delete_issues()" id="delete">Delete Selected Issues(s)</button>
    </form>
    <!--</div>-->
</div>

<!-- CONTAINER WHERE TABS WILL OCCUPY -->
<div id="tab-container">
    {% if messages %}
        <div>
            {% for message in messages %}
                <p {% if message.tags %}id="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <!-- FIRST TAB -->
    <div id="All" class="tab-content">
        <div id="table-container">
            <!-- FIRST ROW IS HEADER/TITLE ROW. -->
            <div class="table-row row-0">
                <div class="col-checkbox"><input type="checkbox" id="toggle-all" onclick="toggle(this)"></div>
                <div class="col-name">Issue</div>
            </div>

            <!-- TEMPLATES FOR DATA INSERTION. NOTE THAT THERE IS A "row-1" AND "row-2"  FOR THEIR ALTERNATING COLORS -->
            {% for issue in issues %}
                <div class="table-row {% cycle 'row-1' 'row-2' %}">
                    <div class="col-checkbox"><input type="checkbox" name="check" value="{{ issue.id }}"
                                                     onclick="selected(this)"></div>
                    <div class="col-name">{{ issue.name }}</div>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if issues.has_previous %}
                    <a href="?page=1{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&laquo; first</a>
                    <a href="?page={{ issues.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">previous</a>
                {% endif %}
                <span class="current">Page {{ issues.number }} of {{ issues.paginator.num_pages }}.</span>

                {% if issues.has_next %}
                    <a href="?page={{ issues.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">next</a>
                    <a href="?page={{ issues.paginator.num_pages }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

    <!-- SECOND TAB (FORM TAB)-->
    <form action="" id="Add" class="tab-content" method="POST">

        <div class="info-fields-container">
            {% csrf_token %}
            <input type="hidden" name="form-type" value="add-issue">
            {% if issue_form %}
                {% for field in issue_form %}
                    <div class="info-container">
                        <div class="info-label">{{ field.label }}</div>
                        {{ field }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="info-buttons-container">
            <!-- SUBMIT BUTTON FOR THE TAB -->
            <input class="button confirm" type="submit" value="Add new issue">
        </div>
    </form>

</div>

<div id="logo">
    <img width=500 height=50 src="{% static 'sysadmin/assets/png/org-logos.png' %}">
</div>
</body>

<!-- JAVASCRIPT LINK-->
<script src="{% static 'sysadmin/js/admin.js' %}"></script>
</html>
