{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>

    <!-- CSS LINKS -->
    <link rel="stylesheet" type="text/css" href="{% static 'sysadmin/css/components/admin.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'sysadmin/css/components/admin-voter.css' %}"/>

</head>
<body>
<!-- HEADER BAR THING -->
<div id="header-container">
    <img id="header-ballot" src="{% static 'sysadmin/assets/svg/ballot-white.svg' %}">
    <a href="{% url 'sysadmin:voters' %}" id="selected">Voters List</a>
    <a href="{% url 'sysadmin:candidates' %}">Candidates List</a>
    <a href="{% url 'sysadmin:officers' %}">Comelec Officers</a>
    <a href="{% url 'sysadmin:unit' %}">Unit</a>
    <div id="user-container">
        <img id="user-icon" src="{% static 'sysadmin/assets/svg/user.svg' %}">
        <div id="user-name">{{ user.first_name }} {{ user.last_name }}</div>
    </div>
</div>

<!-- TABS BUTTONS TO TRAVERSE THE DIFF SECTIONS -->
<div id="tab-buttons-container">
    <button class="tab-buttons" onclick="openTab(event, 'All')" id="tab-all">See all voters</button>
    <button class="tab-buttons" onclick="openTab(event, 'Add')" id="tab-add">Add a voter</button>
    <button class="tab-buttons" onclick="openTab(event, 'AddMany')" id="tab-bulk">Add voters in bulk</button>

    <!-- SEARCH BAR AND DESELECT-DELETE TAKE UP THE SAME SPOT. THEY ARE ACTIVATED AND DEACTIVATED RESPECTIVELY-->

    <!-- SEARCH BAR
    <form action="" id="tab-search">
        <input  id="search" type="text" name="search-voter" placeholder="Search a voter...">
    </form> -->

    <!-- DESELECT-DELETE -->
    <div id="deselect-delete">
        <button id="deselect">Deselect All</button>
        <button id="delete">Delete Selected Candidate(s)</button>
    </div>

</div>

<!-- CONTAINER WHERE TABS WILL OCCUPY -->
<div id="tab-container">
    {% if messages %}
        <div>
            {% for message in messages %}
                <p {% if message.tags %}id="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <!-- FIRST TAB -->
    <div id="All" class="tab-content">
        <table>
            <!-- FIRST ROW IS HEADER/TITLE ROW. DO NOT CHANGE!! -->
            <tr class="row-0">
                <td class="col-checkbox"><input type="checkbox"></td>
                <td class="col-name">Full Name</td>
                <td class="col-id">ID Number</td>
                <td class="col-position">Has Voted</td>
                <td class="col-status">Eligibility</td>
            </tr>

            <!-- TEMPLATES FOR DATA INSERTION. NOTE THAT THERE IS A "row-1" AND "row-2"  FOR THEIR ALTERNATING COLORS -->
            {% comment %}
            <tr class="row-1">
                <td class="col-checkbox"><input type="checkbox"></td>
                <td class="col-name">Logan Paul</td>
                <td class="col-id">17496849</td>
                <td class="col-position">NO</td>
                <td class="col-status">NO</td>
            </tr>
            <tr class="row-2">
                <td class="col-checkbox"><input type="checkbox"></td>
                <td class="col-name">Jake Paul</td>
                <td class="col-id">17496849</td>
                <td class="col-position">YES</td>
                <td class="col-status">YES</td>
            </tr>

            <tr class="row-1">
                <td class="col-checkbox"><input type="checkbox"></td>
                <td class="col-name">Logan Paul</td>
                <td class="col-id">17496849</td>
                <td class="col-position">NO</td>
                <td class="col-status">NO</td>
            </tr>
            <tr class="row-2">
                <td class="col-checkbox"><input type="checkbox"></td>
                <td class="col-name">Jake Paul</td>
                <td class="col-id">17496849</td>
                <td class="col-position">YES</td>
                <td class="col-status">YES</td>
            </tr>
            {% endcomment %}
            {% for voter in voters %}
                <tr class="{% cycle 'row-1' 'row-2' %}">
                    <td class="col-checkbox"><input type="checkbox"></td>
                    <td class="col-name">{{ voter.user.last_name }}, {{ voter.user.first_name }}</td>
                    <td class="col-id">{{ voter.user.username }}</td>
                    <td class="col-position">
                        {% if voter.voting_status == 1 %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td class="col-status">
                        {% if voter.eligibility_status == 1 %}
                            Eligible
                        {% else %}
                            Not eligible
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <!-- SECOND TAB (FORM TAB)-->
    <form action="" id="Add" class="tab-content" method="POST">
        {% csrf_token %}
        <div class="info-fields-container">
            <input type="hidden" name="form-type" value="add-voter">
            <div class="info-container">
                <div class="info-label"> First Names (w/ second & middle names)</div>
                <input type="text" class="info-input" name="voter-firstnames" placeholder="First names"
                       required="required">
            </div>

            <div class="info-container">
                <div class="info-label"> Last Name</div>
                <input type="text" class="info-input" name="voter-lastname" placeholder="Last name" required="required">
            </div>

            <div class="info-container">
                <div class="info-label"> ID Number</div>
                <input type="text" class="info-input" name="voter-id" placeholder="ID number" required="required">
            </div>

            <div class="info-container">
                <div class="info-label"> College</div>
                <select class="info-input" name="voter-college" required="required">
                    <option disabled="disabled" selected="selected">(Select a college)</option>
                    {% for college in colleges %}
                        <option>{{ college.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="info-container">
                <div class="info-label"> Voting Status</div>
                <select class="info-input" name="voter-voting-status" required="required">
                    <option>Hasn't voted yet</option>
                    <option>Has already voted</option>
                </select>
            </div>

            <div class="info-container">
                <div class="info-label"> Eligibility Status</div>
                <select class="info-input" name="voter-eligibility-status" required="required">
                    <option>Eligible</option>
                    <option>Not eligible</option>
                </select>
            </div>

        </div>

        <div class="info-buttons-container">
            <button class="button cancel">Cancel</button>
            <!-- SUBMIT BUTTON FOR THE TAB -->
            <input class="button confirm" type="submit" value="Add new voter">
        </div>

    </form>

    <!-- THIRD TAB (BULK FORM TAB)-->
    <form action="" id="AddMany" class="tab-content" method="POST">
        {% csrf_token %}
        <div class="info-fields-container">
            <input type="hidden" name="form-type" value="add-voter">
            <div class="info-container">
                <div class="info-label"> Upload a text (.txt) file containing the rows:</div>
                <input type="file" class="info-input" name="voter-firstnames" placeholder="First names"
                       required="required">
            </div>
        </div>

        <div class="info-buttons-container">
            <button class="button cancel">Cancel</button>
            <!-- SUBMIT BUTTON FOR THE TAB -->
            <input class="button confirm" type="submit" value="Add new voter">
        </div>

    </form>
</div>

<div id="logo">
    <img width=500 height=50 src="{% static 'sysadmin/assets/png/org-logos.png' %}">
</div>
</body>

<!-- JAVASCRIPT LINK-->
<script src="{% static 'sysadmin/js/admin.js' %}">
    //set default tab to "All" Tab by activating it on page load
    document.getElementById("tab-all").click();
</script>

</html>


