{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>

    <!-- CSS LINKS -->
    <link rel="stylesheet" type="text/css" href="{% static 'sysadmin/css/components/admin.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'sysadmin/css/components/admin-unit.css' %}"/>

</head>
<body>
<!-- HEADER BAR THING -->
<div id="header-container">
    <img id="header-ballot" src="{% static 'sysadmin/assets/svg/ballot-white.svg' %}">
    <a href="{% url 'sysadmin:voters' %}">Voter's List</a>
    <a href="{% url 'sysadmin:candidates' %}" id="selected">Candidate's List</a>
    <a href="{% url 'sysadmin:officers' %}">Comelec Officers</a>
    <a href="{% url 'sysadmin:unit' %}" id="selected">Unit</a>
    <div id="user-container">
        <img id="user-icon" src="{% static 'sysadmin/assets/svg/user.svg' %}">
        <div id="user-name"> Troy Bolton</div>
    </div>

</div>

<!-- TABS BUTTONS TO TRAVERSE THE DIFF SECTIONS -->
<div id="tab-buttons-container">
    <button class="tab-buttons" onclick="openTab(event, 'All')" id="tab-all">See all units</button>
    <button class="tab-buttons" onclick="openTab(event, 'Add')" id="tab-add">Add a unit</button>

    <!-- SEARCH BAR AND DESELECT-DELETE TAKE UP THE SAME SPOT. THEY ARE ACTIVATED AND DEACTIVATED RESPECTIVELY-->

    <!-- SEARCH BAR
    <form action="" id="tab-search">
        <input  id="search" type="text" name="search-unit" placeholder="Search a unit...">
    </form> -->

    <!-- DESELECT-DELETE -->
    <div id="deselect-delete">
        <button id="deselect">Deselect All</button>
        <button id="delete">Delete Selected Candidate(s)</button>
    </div>

</div>

<!-- CONTAINER WHERE TABS WILL OCCUPY -->
<div id="tab-container">

    <!-- FIRST TAB -->
    <div id="All" class="tab-content">
        <table>
            <!-- FIRST ROW IS HEADER/TITLE ROW. DO NOT CHANGE!! -->
            <tr class="row-0">
                <td class="col-checkbox"><input type="checkbox"></td>
                <td class="col-name">College</td>
                <td class="col-id">Batch</td>
                <td class="col-unit">Unit Name</td>
            </tr>

            <!-- TEMPLATES FOR DATA INSERTION. NOTE THAT THERE IS A "row-1" AND "row-2"  FOR THEIR ALTERNATING COLORS -->
            <tr class="row-1">
                <td class="col-checkbox"><input type="checkbox"></td>
                <td class="col-name">COB</td>
                <td class="col-id">115</td>
                <td class="col-unit">BLAZEIT420</td>
            </tr>
            <tr class="row-2">
                <td class="col-checkbox"><input type="checkbox"></td>
                <td class="col-name">COS</td>
                <td class="col-id">113</td>
                <td class="col-unit">Unit Name</td>
            </tr>

            <tr class="row-1">
                <td class="col-checkbox"><input type="checkbox"></td>
                <td class="col-name">COB</td>
                <td class="col-id">115</td>
                <td class="col-unit">BLAZEIT420</td>
            </tr>
            <tr class="row-2">
                <td class="col-checkbox"><input type="checkbox"></td>
                <td class="col-name">COS</td>
                <td class="col-id">113</td>
                <td class="col-unit">Unit Name</td>
            </tr>

        </table>
    </div>

    <!-- SECOND TAB (FORM TAB)-->
    <form action="" id="Add" class="tab-content">
        <div class="info-fields-container">
            <div class="info-container">
                <div class="info-label"> College</div>
                <select class="info-input" name="cand-college">
                    <option>CCS</option>
                    <option>COB</option>
                    <option>COE</option>
                    <option>CLA</option>
                    <option>COS</option>
                </select>
            </div>

            <div class="info-container">
                <div class="info-label"> Batch</div>
                <input type="text" class="info-input" name="cand-id" placeholder="ex. 116">
            </div>

            <div class="info-container">
                <div class="info-label"> Unit Name</div>
                <input type="text" class="info-input" name="cand-id" placeholder="ex. ABSOLUTEUNIT">
            </div>

        </div>

        <div class="info-buttons-container">
            <button class="button cancel">Cancel</button>
            <!-- SUBMIT BUTTON FOR THE TAB -->
            <input class="button confirm" type="submit" value="Add new unit">
        </div>
    </form>

</div>

<div id="logo">
    <img width=500 height=50 src="{% static 'sysadmin/assets/png/org-logos.png' %}">
</div>
</body>

<!-- JAVASCRIPT LINK-->
<script src="{% static 'sysadmin/js/admin.js' %}">
    //set default tab to "All" Tab by activating it on page load
    document.getElementById("tab-all").click();
</script>
</html>


