{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>

    <!-- CSS LINKS -->
    <link rel="stylesheet" type="text/css" href="{% static 'sysadmin/css/components/admin.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'sysadmin/css/components/admin-voter.css' %}"/>

</head>
<body>
<!-- HEADER BAR THING -->
<div id="header-container">
    <img id="header-ballot" src="{% static 'sysadmin/assets/svg/ballot-white.svg' %}">
    <a href="{% url 'sysadmin:voters' %}" id="selected">Voter's List</a>
    <a href="{% url 'sysadmin:candidates' %}">Candidate's List</a>
    <a href="{% url 'sysadmin:officers' %}">Comelec Officers</a>
    <a href="{% url 'sysadmin:unit' %}">Unit</a>
    <div id="user-container">
        <img id="user-icon" src="{% static 'sysadmin/assets/svg/user.svg' %}">
        <div id="user-name"> Troy Bolton</div>
        <a id="log-out">Log out</a>
    </div>

</div>

<!-- TABS BUTTONS TO TRAVERSE THE DIFF SECTIONS -->
<div id="tab-buttons-container">
    <button class="tab-buttons" onclick="openTab(event, 'All')" id="tab-all">See all voters</button>
    <button class="tab-buttons" onclick="openTab(event, 'Add')" id="tab-add">Add a voter</button>

    <!-- SEARCH BAR AND DESELECT-DELETE TAKE UP THE SAME SPOT. THEY ARE ACTIVATED AND DEACTIVATED RESPECTIVELY-->

    <!-- SEARCH BAR-->
    <form action="" id="tab-search">
        <input  id="search" type="text" name="search-voter" placeholder="Search a voter...">
    </form> 

    <!-- DESELECT-DELETE -->
    <!--<div id="deselect-delete">
        <button id="deselect">Deselect All</button>-->
        <button id="delete">Delete Selected Voter(s)</button>
    <!--</div>-->


</div>

<!-- CONTAINER WHERE TABS WILL OCCUPY -->
<div id="tab-container">

    <!-- FIRST TAB -->
    <div id="All" class="tab-content">
        <div id="table-container">
            <!-- FIRST ROW IS HEADER/TITLE ROW. -->
            <div class="table-row row-0">
                <div class="col-checkbox"><input type="checkbox"  id="toggle-all" onclick="toggle(this)"></div>
                <div class="col-name">Full Name</div>
                <div class="col-id">ID Number</div>
                <div class="col-voted">Has Voted</div>
                <div class="col-eligible">Eligibility</div>
            </div>

            <!-- TEMPLATES FOR DATA INSERTION. NOTE THAT THERE IS A "row-1" AND "row-2"  FOR THEIR ALTERNATING COLORS -->
            <div class="table-row row-1">
                <div class="col-checkbox"><input type="checkbox" name="check" onclick="selected(this)"></div>
                <div class="col-name">
                    <div class="name" onclick="edit(this)"> 
                        Logan Paul
                    </div>
                </div>
                <div class="col-id">17496849</div>
                <div class="col-voted">NO</div>
                <div class="col-eligible">Active</div>
            </div>

            <!-- EXPERIMENTAL!! DO NOT TOUCH TY
                <div class="table-row row-1" id="row-data-0">
                <div class="col-checkbox"><input type="checkbox" name="check" onclick="selected(this)"></div>
                <div class="col-name">
                    <div class="name" data-value="0" onclick="edit(this)">  
                        Logan Paul
                    </div>
                </div>
                <div class="col-id">17496849</div>
                <div class="col-voted">NO</div>
                <div class="col-eligible">Active</div>
            </div>-->

            <div class="table-row row-2">
                <div class="col-checkbox"><input type="checkbox" name="check" onclick="selected(this)"></div>
                <div class="col-name">
                    <div class="name" onclick="edit(this)"> 
                        Jake Paul
                    </div>
                </div>
                <div class="col-id">17496849</div>
                <div class="col-voted">YES</div>
                <div class="col-eligible">Ineligible</div>
            </div>

            <div class="table-row row-1">
                <div class="col-checkbox"><input type="checkbox" name="check" onclick="selected(this)"></div>
                <div class="col-name">
                    <div class="name" onclick="edit(this)"> 
                        Logan Paul
                    </div>
                </div>
                <div class="col-id">17496849</div>
                <div class="col-voted">NO</div>
                <div class="col-eligible">Active</div>
            </div>

            <div class="table-row row-2">
                <div class="col-checkbox"><input type="checkbox" name="check" onclick="selected(this)"></div>
                <div class="col-name">
                    <div class="name" onclick="edit(this)"> 
                        Jake Paul
                    </div>
                </div>
                <div class="col-id">17496849</div>
                <div class="col-voted">YES</div>
                <div class="col-eligible">Ineligible</div>
            </div>
        </div>
    </div>

    <!-- SECOND TAB (FORM TAB)-->
    <form action="" id="Add" class="tab-content">
        <div class="info-fields-container">
            <div class="info-container">
                <div class="info-label"> Full Name</div>
                <input type="text" class="info-input" name="cand-name" placeholder="ex. Logan Paul">
            </div>

            <div class="info-container">
                <div class="info-label"> ID Number</div>
                <input type="text" class="info-input" name="cand-id" placeholder="ex. 18002738255">
            </div>

            <div class="info-container">
                <div class="info-label"> College</div>
                <select class="info-input" name="cand-college">
                    <option>CCS</option>
                    <option>COB</option>
                    <option>COE</option>
                    <option>CLA</option>
                    <option>COS</option>
                </select>
            </div>

            <div class="info-container">
                <div class="info-label"> Voting Status</div>
                <select class="info-input" name="cand-status">
                    <option>YES</option>
                    <option>NO</option>
                    <option>MAYBE</option>
                    <option>PERHAPS</option>
                    <option>POSSIBLY</option>
                </select>
            </div>

            <div class="info-container">
                <div class="info-label"> Eligibility Status</div>
                <select class="info-input" name="cand-position">
                    <option>Active</option>
                    <option>Activen't</option>
                </select>
            </div>

        </div>

        <div class="info-buttons-container">
            <button class="button cancel">Cancel</button>
            <!-- SUBMIT BUTTON FOR THE TAB -->
            <input class="button confirm" type="submit" value="Add new voter">
        </div>
    </form>

    <!-- THIRD HIDDEN TAB (EDIT TAB)-->
    <form action="" id="Edit" class="tab-content">
        <div class="info-fields-container">
            <div class="info-container">
                <div class="info-label"> Full Name </div>
                <input type="text" class="info-input" name="cand-name" placeholder="ex. Logan Paul">
            </div>

            <div class="info-container">
                <div class="info-label"> ID Number</div>
                <input type="text" class="info-input" name="cand-id" placeholder="ex. 18002738255">
            </div>

            <div class="info-container">
                <div class="info-label"> College</div>
                <select class="info-input" name="cand-college">
                    <option>CCS</option>
                    <option>COB</option>
                    <option>COE</option>
                    <option>CLA</option>
                    <option>COS</option>
                </select>
            </div>

            <div class="info-container">
                <div class="info-label"> Voting Status</div>
                <select class="info-input" name="cand-status">
                    <option>YES</option>
                    <option>NO</option>
                    <option>MAYBE</option>
                    <option>PERHAPS</option>
                    <option>POSSIBLY</option>
                </select>
            </div>

            <div class="info-container">
                <div class="info-label"> Eligibility Status</div>
                <select class="info-input" name="cand-position">
                    <option>Active</option>
                    <option>Activen't</option>
                </select>
            </div>

        </div>

        <div class="info-buttons-container">
            <button class="button cancel">Cancel</button>
            <!-- SUBMIT BUTTON FOR THE TAB -->
            <input class="button confirm" type="submit" value="Save Changes">
        </div>
    </form>

</div>

<div id="logo">
    <img width=500 height=50 src="{% static 'sysadmin/assets/png/org-logos.png' %}">
</div>
</body>

<!-- JAVASCRIPT LINK-->
<script src="{% static 'sysadmin/js/admin.js' %}"></script>
</html>


